{% extends "base.html" %}
{% load static %}

{% block description %}Take a short survey to win a $1000 coupon with us!{% endblock description %}

{% block title %}Thank you for taking the GLS!{% endblock title %}

{% block content %}
    <div class="container-fluid text-center min-vh-100 bg-light">
        <h1 class="text-dark pt-5">Thank you for taking the Good Life Survey!</h1>
        <p class="lead text-info mt-3">Please check your inbox for the Good Life Report!</p>
        <p class="small text-success mt-5">Join the Good Life community today for enhancing your life!</p>
    </div>
{% endblock content %}